

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
*{
  font-family: 'Source Sans Pro', sans-serif;
}
$font-family-sans-serif: Source Sans Pro;
$font-weight-bold:  600;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
);

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


aside a {

  text-decoration: none;


line-height: 16px;

mix-blend-mode: normal;

}
.flex-fixed-width-item {
  flex: 0 0 100px;
}



@import "../node_modules/bootstrap/scss/bootstrap";





