

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
*{
  font-family: 'Source Sans Pro', sans-serif;

}



$font-family-sans-serif: Source Sans Pro;
$font-weight-bold:  600;



$spacer: 1.2rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * .75,
  4: $spacer ,
  5: $spacer * 1.5,
  6:  $spacer * 2,
  
);



$theme-colors: (
  "primary": #8675A9,
  "primaryd": #8675A9,
  "secondary": #878F9B,
  "light":#e5ecf3,
  "lightd":#000,

);

a{
  cursor: pointer;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.48rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}



aside a {

  text-decoration: none;


line-height: 16px;

mix-blend-mode: normal;

}
.flex-fixed-width-item {
  flex: 0 0 100px;
}

.categoryGrid{
  display:grid;
  margin:  0 $spacer*0.5;

  gap: 0px $spacer*0.5;

  div{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.btn:focus {
  outline: none;
  box-shadow: none;
}




@import "../node_modules/bootstrap/scss/bootstrap";





